a{
    text-decoration: none;
    color: white
}

.top-bar{
    background-color: blue;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px 15px 30px;
}


.top-bar .logo {
    color: white;
}

.menu{
    display: flex;
}

.menu-item{
    margin-left: 20px;
}

.container{
    width: 1300px;
    margin: 0 auto;
}
.banner{
    width: 100%;
    position: relative;
    z-index: 1;
    height: 100vh;
}

.banner img{
    width: 100%;
}


.banner .caption {
    position: absolute;
    z-index: 2;
    top: 200px;
    left: 100px;
    color: red;
    font-size: 22px;
   
}


/* Banner 2 Flexbox */

.banner-2{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-image: url('image/banner.jpg');
    background-size: cover;
    background-position: center;
}


.banner-2 .caption{
   margin : 0 auto;
   text-align: left;
   color: yellow;
   margin-left: 20px;
}
